.body {
	text-align: center; 
}

.header {
	
	color: cyan; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 25%;
	margin-top: 4%;
}

.header h1{
	font-size:70;
}

.buttons {
	color: cyan;
	margin-left: 25%;
	padding-top:10%;
}
